:root {
  --pokemon-color: #efbd00;
  --type-bug-color: #63ed39;
  --type-dark-color: #75747e;
  --type-dragon-color: #1582e7;
  --type-electric-color: #f2cb55;
  --type-fairy-color: #e98acc;
  --type-fighting-color: #eb4971;
  --type-fire-color: #ff9400;
  --type-flying-color: #829edb;
  --type-ghost-color: #6882d4;
  --type-grass-color: #8bbe8a;
  --type-ground-color: #f78551;
  --type-ice-color: #6bddce;
  --type-normal-color: #c5c9d6;
  --type-poison-color: #ae02ff;
  --type-psychic-color: #ff787a;
  --type-rock-color: #d5c895;
  --type-steel-color: #4d92b4;
  --type-water-color: #58abf6;
}

::-webkit-scrollbar {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

[class^="bg-color-"] {
  border: none;
}

/* POKEMON TYPES BACKGROUND COLORS */
.bg-color-bug {
  background: -webkit-linear-gradient(180deg, #729f3f 50%, #729f3f 50%);
  background: -ms-linear-gradient(180deg, #729f3f 50%, #729f3f 50%);
  background: -moz-linear-gradient(180deg, #729f3f 50%, #729f3f 50%);
  background: -o-linear-gradient(180deg, #729f3f 50%, #729f3f 50%);
  background: linear-gradient(180deg, #729f3f 50%, #729f3f 50%);
  background-color: #729f3f;
  color: #fff;
}

.bg-color-dark {
  background: -webkit-linear-gradient(180deg, #707070 50%, #707070 50%);
  background: -ms-linear-gradient(180deg, #707070 50%, #707070 50%);
  background: -moz-linear-gradient(180deg, #707070 50%, #707070 50%);
  background: -o-linear-gradient(180deg, #707070 50%, #707070 50%);
  background: linear-gradient(180deg, #707070 50%, #707070 50%);
  background-color: #707070;
  color: #fff;
}

.bg-color-dragon {
  background: -webkit-linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  background: -ms-linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  background: -moz-linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  background: -o-linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  background-color: #53a4cf;
  color: #fff;
}

.bg-color-electric {
  background: -webkit-linear-gradient(180deg, #eed535 50%, #eed535 50%);
  background: -ms-linear-gradient(180deg, #eed535 50%, #eed535 50%);
  background: -moz-linear-gradient(180deg, #eed535 50%, #eed535 50%);
  background: -o-linear-gradient(180deg, #eed535 50%, #eed535 50%);
  background: linear-gradient(180deg, #eed535 50%, #eed535 50%);
  background-color: #eed535;
  color: #212121;
}

.bg-color-fairy {
  background: -webkit-linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
  background: -ms-linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
  background: -moz-linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
  background: -o-linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
  background: linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
  background-color: #fdb9e9;
  color: #212121;
}

.bg-color-fighting {
  background: -webkit-linear-gradient(180deg, #d56723 50%, #d56723 50%);
  background: -ms-linear-gradient(180deg, #d56723 50%, #d56723 50%);
  background: -moz-linear-gradient(180deg, #d56723 50%, #d56723 50%);
  background: -o-linear-gradient(180deg, #d56723 50%, #d56723 50%);
  background: linear-gradient(180deg, #d56723 50%, #d56723 50%);
  background-color: #d56723;
  color: #fff;
}

.bg-color-fire {
  background: -webkit-linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);
  background: -ms-linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);
  background: -moz-linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);
  background: -o-linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);
  background: linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);
  background-color: #fd7d24;
  color: #fff;
}

.bg-color-flying {
  background: -webkit-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  background: -ms-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  background: -moz-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  background: -o-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  background-color: #3dc7ef;
  color: #212121;
}

.bg-color-ghost {
  background: -webkit-linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);
  background: -ms-linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);
  background: -moz-linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);
  background: -o-linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);
  background: linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);
  background-color: #7b62a3;
  color: #fff;
}

.bg-color-grass {
  background: -webkit-linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);
  background: -ms-linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);
  background: -moz-linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);
  background: -o-linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);
  background: linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);
  background-color: #9bcc50;
  color: #212121;
}

.bg-color-ground {
  background: -webkit-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
  background: -ms-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
  background: -moz-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
  background: -o-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
  background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
  background-color: #f7de3f;
  color: #212121;
}

.bg-color-ice {
  background: -webkit-linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);
  background: -ms-linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);
  background: -moz-linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);
  background: -o-linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);
  background: linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);
  background-color: #51c4e7;
  color: #212121;
}

.bg-color-normal {
  background: -webkit-linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);
  background: -ms-linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);
  background: -moz-linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);
  background: -o-linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);
  background: linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);
  background-color: #a4acaf;
  color: #212121;
}

.bg-color-poison {
  background: -webkit-linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);
  background: -ms-linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);
  background: -moz-linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);
  background: -o-linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);
  background: linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);
  background-color: #b97fc9;
  color: #fff;
}

.bg-color-psychic {
  background: -webkit-linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
  background: -ms-linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
  background: -moz-linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
  background: -o-linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
  background: linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
  background-color: #f366b9;
  color: #fff;
}

.bg-color-rock {
  background: -webkit-linear-gradient(180deg, #a38c21 50%, #a38c21 50%);
  background: -ms-linear-gradient(180deg, #a38c21 50%, #a38c21 50%);
  background: -moz-linear-gradient(180deg, #a38c21 50%, #a38c21 50%);
  background: -o-linear-gradient(180deg, #a38c21 50%, #a38c21 50%);
  background: linear-gradient(180deg, #a38c21 50%, #a38c21 50%);
  background-color: #a38c21;
  color: #fff;
}

.bg-color-steel {
  background: -webkit-linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);
  background: -ms-linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);
  background: -moz-linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);
  background: -o-linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);
  background: linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);
  background-color: #9eb7b8;
  color: #212121;
}

.bg-color-water {
  background: -webkit-linear-gradient(180deg, #4592c4 50%, #4592c4 50%);
  background: -ms-linear-gradient(180deg, #4592c4 50%, #4592c4 50%);
  background: -moz-linear-gradient(180deg, #4592c4 50%, #4592c4 50%);
  background: -o-linear-gradient(180deg, #4592c4 50%, #4592c4 50%);
  background: linear-gradient(180deg, #4592c4 50%, #4592c4 50%);
  background-color: #4592c4;
  color: #fff;
}

.App {
  margin: 0 auto;
  max-width: $mantine-breakpoint-xl;
}

header {
  padding-top: 2rem;

  .header-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    .left-column {
      display: flex;
      align-items: flex-start;
      flex: 1;
      gap: 0.5rem;

      @media (min-width: $mantine-breakpoint-xs) {
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        justify-content: space-evenly;
      }
    }

    .right-column {
      .theme-switch {
        position: absolute;
        right: 0;
        top: -21px;
      }
    }
  }
}

.actionicons-navbar-container {
  &.generation-container {
    justify-content: center;
  }

  button span {
    position: relative;
  }

  button span::after {
    content: "3";
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    background-color: var(--mantine-primary-color-filled);
    border-radius: 20px 20px 0px 0px;
    opacity: 0;
    transform: scaleX(0);
  }

  button.active {
    border-color: var(--mantine-primary-color-filled);
    background-color: var(--mantine-color-white);
    color: var(--mantine-primary-color-filled) !important;

    span::after {
      transition: all .3s;
      opacity: 1;
      transform: scaleX(1);
    }
  }
}


.filter-container,
.sortby-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.25rem;

  nav.filter-navigation {
    ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      gap: 0.25rem;
    }
  }
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.pokemon-grid {
  .pokemon-card {
    float: left;
    padding: 1rem;
    width: 232px;
    height: 230px;
    margin: 0 0.5rem 0.5rem 0;
    border-radius: 0.5rem;
    box-shadow: var(--mantine-shadow-md);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .pokemon-card-image {
      display: flex;
      width: 100%;
      max-width: 125px;
      height: 100px;
      margin: 0 auto;
    }
  }
}

[class="pokemon-card"],
button[class*="ActionIcon"] {
  border: 1px solid;
}

.pokemons {
  background-color: var(--pokemon-color);
}

.bug {
  background-color: var(--type-bug-color);
  border-color: var(--type-bug-color) !important;
}

.dark {
  background-color: var(--type-dark-color);
  border-color: var(--type-dark-color);
}

.dragon {
  background-color: var(--type-dragon-color);
  border-color: var(--type-dragon-color);
}

.electric {
  background-color: var(--type-electric-color);
  border-color: var(--type-electric-color);
}

.fairy {
  background-color: var(--type-fairy-color);
  border-color: var(--type-fairy-color);
}

.fighting {
  background-color: var(--type-fighting-color);
  border-color: var(--type-fighting-color);
}

.fire {
  background-color: var(--type-fire-color);
  border-color: var(--type-fire-color);
}

.flying {
  background-color: var(--type-flying-color);
  border-color: var(--type-flying-color);
}

.ghost {
  background-color: var(--type-ghost-color);
  border-color: var(--type-ghost-color);
}

.grass {
  background-color: var(--type-grass-color);
  border-color: var(--type-grass-color);
}

.ground {
  background-color: var(--type-ground-color);
  border-color: var(--type-ground-color);
}

.ice {
  background-color: var(--type-ice-color);
  border-color: var(--type-ice-color);
}

.normal {
  background-color: var(--type-normal-color);
  border-color: var(--type-normal-color);
}

.poison {
  background-color: var(--type-poison-color);
  border-color: var(--type-poison-color);
}

.psychic {
  background-color: var(--type-psychic-color);
  border-color: var(--type-psychic-color);
}

.rock {
  background-color: var(--type-rock-color);
  border-color: var(--type-rock-color);
}

.steel {
  background-color: var(--type-steel-color);
  border-color: var(--type-steel-color);
}

.water {
  background-color: var(--type-water-color);
  border-color: var(--type-water-color);
}

footer {
  padding: 16px 32px;
  background-color: #f5f5f5;
  text-align: center;
}

html[data-mantine-color-scheme="dark"] {
  .pokemon-card {
    border-color: var(--mantine-color-dark-light-color);
  }
}