.evolution-chain {
  display: flex;
  justify-content: center;
  & .evolution-branch {
    display: flex;
    &.multiple {
      align-items: center;
      gap: 1.5rem;
      &.eevee {
        gap: unset;
      }
      & .evolves-to-container {
        flex-direction: column;
      }
    }
    & .evolves-to-container {
      display: flex;
      flex-wrap: wrap;
    }
    .eevee-evolution + .evolves-to-container {
      flex-direction: row;
    }
  }
}
